@media only screen and (max-width: 985px) {
	.box-container:nth-child(4), .box-container:nth-child(3) {
		margin-top: 50px;
	}
	.box .box-container:nth-child(2), .box .box-container:nth-child(4) {
		margin-right: 0;
	}
	.box {
		width: 450px;
	}  
}

*{
  margin:0;
  padding:0;
}

body {
	background-color: #282828;
	color: white;
}

.box .box-container:hover {
	-webkit-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.75);
}

.container form, .box .box-container {
	-webkit-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
	-moz-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
	box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.box .box-container .link {
	font-family: 'test';
	font-size: 20px;
	padding: 20px 0 0 15px;
	text-align: left;
}

.container .time {
	font-family: 'test';
	font-size: 120px;
	margin-bottom: 20px;
}

.box {
	width: 950px;
}

.box .box-container {
	background-color: #282822;
	width: 200px;
	height: 220px;
	float: left;
	border-radius: 5px;
}

.box .box-container:not(:last-child) {
	margin-right: 50px;
}

.box .box-container .heading {
	margin: 25px 0 9px 15px;
	font-family: 'test';
	font-size: 33px;
	text-align: left;
}

a, a:visited, a:hover, .box .box-container:hover, .box .box-container {
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

a, a:visited {
	color: #6C7789;
}

a:hover {
	color: white;
}

a, a:visited, a:hover {
	text-decoration: none;
}

